/*fouth开始*/
.fouth .fouth-1{
    height: 100%;
    width: 1226px;
    background: #fff;
    margin:0 auto;
}
.fouth{
    background: #fff;
    height: 460px;
    margin-bottom: 10px;
}
.fouth .fouth-1-1{
    width: 18%;
    height: 100%;
    float:left;
    background: #333;
}
.fouth .fouth-2-2-2{
    display: block;
    padding:13px 25px;
    color: #ffffff;
    font-size: 14px;
}
.fouth #fouth-2-2-2-1{
    display: block;
    padding:13px 25px;
    color: #ffffff;
    font-size: 14px;
}
.fouth #container{
    position: relative;
    float:right;
    width: 82%;
    height: 100%;
}
/*弹出层开始*/
.fouth #sub-nav{
    position: absolute;
    width: 800px;
    height: 460px;
    background-color: #ffffff;
    z-index:1;
    display: none;
}
/*弹出层结束*/
/*弹出层样式开始*/
.fouth #sub-nav ul{
    width: 33%;
    height: 100%;
    float: left;
}
.fouth #sub-nav li{
    width: 100%;
    height: 76px;
    font-size: 15px;
    line-height: 76px;
}
.fouth #note3 img,
.fouth #note2 img{
    margin-top:20px;
    float: left;
    height: 40px;
    width: 40px;
}
.fouth #mi4x img{
    margin-top:20px;
    float: left;
    height: 40px;
    width: 40px;
}
/*弹出层样式结束*/
.fouth #imgs img{
    display:none;
}
.fouth #imgs .selected{
    display: block;
    width: 1005px;
    height: 460px;
}
#tab{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#tab li{
    height: 6px;
    width: 6px;
    background-color: #ccc;
    float: left;
    margin:0 5px;
    cursor: pointer;
    display: block;
    border: 2px solid;
    border-color: #757575;
    border-radius: 10px;
}
#tab .selected{
    background-color: #ffffff;
}
#arrow1{
    position: absolute;
    left: 10px;
    bottom: 200px;
    cursor: pointer;
}
#arrow2{
    position: absolute;
    right: 10px;
    bottom: 200px;
    cursor: pointer;
}
#arrow1 #prav{
    width: 41px;
    height: 69px;
    color: #ffffff;
}
.fouth .fouth-2-2-2:hover{
    background:#ff6700;
}
.fouth .fouth-2-1{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*fouth结束*/